<section fxLayout="column" fxFlexAlign="stretch" class="trips-list-container">
  <div fxFlexAlign="center" class="header-container">
    <app-header></app-header>
  </div>

  <ul class="trips">
    <li *ngFor="let trip of trips" style="padding: 2em">
      <app-trip [trip]="trip"
                [highest]="highest"
                [lowest]="lowest"
                (reserveTrip)="onTripReserved($event)"
                (deleteTrip)="onTripDeleted($event)"
      ></app-trip>
    </li>
  </ul>

  <button mat-raised-button color="primary" class="trips-count-indicator"
          [ngStyle]="{'background': takenTrips > 5 ? 'green' : 'red'}">
    <span>
      Taken trips: {{takenTrips}}
    </span>
  </button>

</section>
