<section fxLayout="column" fxFlexAlign="stretch">
  <div fxFlexAlign="center">
    <app-header></app-header>
  </div>

  <p>In this application we are going to work with:</p>
  <mat-tab-group (selectedTabChange)="executeSelectedChange($event)">
    <mat-tab label="Material Components">
      <p>We are going to use different material components to create nice looking angular app.</p>
    </mat-tab>
    <mat-tab label="Consume .NET Core Web API">
      <p>We will consume our .NET Core applicatoin. Basicaly, we will create complete CRUD client app.</p>
    </mat-tab>
    <mat-tab label="Fully responsive navigation menu">
      <p>By using material components, we are going to create fully responsive navigation menu, with its side-bar as well.</p>
    </mat-tab>
  </mat-tab-group>

  <span [ngStyle]="{'background': takenTrips > 5 ? 'green' : 'red'}">
  Taken trips: {{takenTrips}}
</span>
  <ul class="trips">
    <li *ngFor="let trip of trips" style="padding: 2em">
      <app-trip [trip]="trip"
                [highest]="highest"
                [lowest]="lowest"
                (reserveTrip)="onTripReserved($event)"
                (deleteTrip)="onTripDeleted($event)"
      ></app-trip>
    </li>
  </ul>

  <app-new-trip-form></app-new-trip-form>
</section>
