<section fxLayout="column" fxFlexAlign="stretch">
  <div fxFlexAlign="center" class="header-container">
    <app-header></app-header>
  </div>

  <span [ngStyle]="{'background': takenTrips > 5 ? 'green' : 'red'}">
    Taken trips: {{takenTrips}}
  </span>
  <ul class="trips">
    <li *ngFor="let trip of trips" style="padding: 2em">
      <app-trip [trip]="trip"
                [highest]="highest"
                [lowest]="lowest"
                (reserveTrip)="onTripReserved($event)"
                (deleteTrip)="onTripDeleted($event)"
      ></app-trip>
    </li>
  </ul>

</section>
