<mat-card class="trip">
  <mat-card-title-group>
    <!--    <img mat-card-avatar [src]="trip.zdjecie" alt="Photo" class="trip-avatar"/>-->
    <mat-card-title>
      {{trip.nazwa | uppercase}}
    </mat-card-title>
    <mat-card-subtitle>{{trip.kraj | uppercase}}</mat-card-subtitle>
  </mat-card-title-group>

  <mat-card-content>

    <div class="trip-image image-cropper">
      <img mat-card-lg-image [src]="trip.zdjecie" class="trip-pic" alt="Photo">
    </div>

    <div class="trip-info">
      <div class="icon-containable">
        <i class="material-icons"
           #tooltip="matTooltip"
           matTooltip="{{trip.id === highest ? 'Highest price available!' : trip.id === lowest ? 'Lowest price available!' : ''}}"
           matTooltipPosition="right"
           [ngStyle]="priceColor">monetization_on
        </i>
        <span> {{trip.cena | currency: 'EUR'}} </span>
      </div>
      <div class="icon-containable">
        <mat-icon>date_range</mat-icon>
        <span> {{trip.startDate | date }} - {{trip.endDate | date}} </span>
      </div>
      <div class="icon-containable"
           *ngIf="trip.miejsc !== 0"
           [ngStyle]="{'color': trip.miejsc < 3 ? 'red' : 'inherit'}">
        <mat-icon>people_outline</mat-icon>
        <span>Free places: {{trip.miejsc}}</span>
      </div>
      <div class="icon-containable" *ngIf="trip.miejsc == 0">
        <mat-icon>people_outline</mat-icon>
        <span>No free places!</span>
      </div>
      <div class="icon-containable">
        <mat-icon>info</mat-icon>
        <span>{{trip.opis}}</span>
      </div>
    </div>

  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button class="mat-primary btn-trip-details" [routerLink]="['/trip', trip.id]"
            routerLinkActive="true">
      Details
    </button>
    <button mat-raised-button (click)="addTrip(trip)" *ngIf="trip.miejsc > 0">Reserve</button>
    <button mat-raised-button (click)="removeTrip(trip)" *ngIf="trip.miejsc != 0">Discard</button>
    <div fxFlex fxLayoutAlign="end">
      <a mat-raised-button color="warn" class="docs-button mat-raised-button mat-button-base mat-accent"
         tabindex="0" aria-disabled="false" (click)="deleteChildTrip(trip)">
        <span class="mat-button-wrapper">Delete</span>
        <div matRipple class="mat-button-ripple mat-ripple"></div>
        <div class="mat-button-focus-overlay"></div>
      </a>
    </div>
  </mat-card-actions>

</mat-card>
