<mat-card
  [ngStyle]="{'border': trip.id === highest ? '2px solid red' : trip.id === lowest ? '2px solid green' : 'none'}"
  class="trip"
>

  <mat-card-title-group>
    <mat-card-title>{{trip.nazwa | uppercase}}</mat-card-title>
    <mat-card-subtitle>{{trip.kraj | uppercase}}</mat-card-subtitle>
  </mat-card-title-group>

  <div class="image-cropper">
    <img [src]="trip.zdjecie" class="trip-pic">
  </div>

  <div>Zakres czasowy: {{trip.startDate | date }} - {{trip.endDate | date}}</div>
  <div>Cena: ${{trip.cena}}</div>
  <div *ngIf="trip.miejsc != 0"
       [ngStyle]="{'background': trip.miejsc < 3 ? 'red' : 'transparent'}">
    Miejsca: {{trip.miejsc}}
  </div>
  <div *ngIf="trip.miejsc == 0">Brak wolnych miejsc!</div>

  <mat-card-actions>
    <button mat-button mat-raised-button (click)="addTrip(trip)" *ngIf="trip.miejsc > 0">Reserve</button>
    <button mat-button mat-raised-button (click)="removeTrip(trip)" *ngIf="trip.miejsc != 0">Discard</button>
    <div fxFlex fxLayoutAlign="end">
      <button mat-button mat-raised-button (click)="deleteChildTrip(trip)">Delete</button>
    </div>
  </mat-card-actions>

</mat-card>
