.trip {
  padding: 2em;
}

.image-cropper {
  margin: 1em;
  box-sizing: border-box;
  width: 250px;
  height: 250px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;

  .trip-pic {
    display: inline;
    margin: 0 auto 0 -25%;
    height: 100%;
    width: auto;
  }
}
