<mat-toolbar color="primary" class="mat-elevation-z6">
  <a mat-button
     routerLink="/"
     aria-label="Sunrise"
     class="docs-button mat-button mat-button-base"
     tabindex="0"
     aria-disabled="false"
     href="/">
    <span class="mat-button-wrapper">
      <i class="material-icons">wb_sunny</i>
      <span>Sunrise</span>
    </span>
    <div matRipple class="mat-button-ripple mat-ripple"></div>
    <div class="mat-button-focus-overlay"></div>
  </a>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <a mat-button>
    Button
  </a>
</mat-toolbar>
