<header class="main-header element-primary">
  <h1 class="mat-h1">Dream Tour</h1>
  <h2>Make your dreams come true!</h2>
  <p>
    10, Sunny Road<br/>
    Sunrise City, XR3 2PT<br/>
  </p>
  <a mat-raised-button
     class="mat-raised-button mat-button-base get-in-touch-button" tabindex="0" aria-disabled="false">
    <span class="mat-button-wrapper">Get in touch!</span>
    <div matRipple class="mat-button-ripple mat-ripple"></div>
    <div class="mat-button-focus-overlay"></div>
  </a>
</header>
