<div class='shopping-cart-info' *ngIf='reservations.length === 0'>
  Shopping cart is empty.
</div>
<div class='shopping-cart-list-container' *ngIf='reservations.length > 0'>
  <mat-action-list class='shopping-cart-list' *ngFor='let reservation of reservations'>
    <mat-list-item disableRipple>
      <span>{{reservation.id}}: {{reservation.name}}</span>
      <span>Places: {{reservation.count}}</span>
      <span>Price summary: {{reservation.count * reservation.price}}</span>

      <button mat-raised-button color='warn'
              [disabled]='reservation.placesLeft === reservation.count'
              (click)='onAdd(reservation.tripId, reservation.placesLeft)'>+</button>
      <button mat-raised-button color='warn'
              [disabled]='reservation.count === 0'
              (click)='onCountDown(reservation.tripId)'>-</button>
      <button mat-raised-button color='primary' (click)='onConfirm(reservation.tripId)'>Confirm</button>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-action-list>
</div>
