.new-trip-form {
  padding: 2em;
  text-align: center;
  width: 300px;
  margin-left: auto;
  margin-right: auto;

  .example-form {
    display: block;
  }

  .example-full-width {
    min-width: 300px;
  }
}
