.new-trip-form {
  padding: 2em;
  text-align: center;
  width: 300px;
  margin-left: auto;
  margin-right: auto;

  mat-card {
    min-width: 350px;

    .full-width-field {
      min-width: 300px;
    }
  }

}
