<div class="new-trip-form">
<!--  <h3>Add a new trip</h3>-->
  <form class="example-form" [formGroup]="formData" (ngSubmit)="onClickSubmit(formData.value)">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Name" [formControl]="nameFormControl" [errorStateMatcher]="matcher">
      <mat-error *ngIf="nameFormControl.hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Country" [formControl]="countryFormControl" [errorStateMatcher]="matcher">
      <mat-error *ngIf="countryFormControl.hasError('required')">
        Country is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Start date" [formControl]="startDateFormControl" [errorStateMatcher]="matcher">
      <mat-error *ngIf="formData.get('startDate').hasError('pattern') && !startDateFormControl.hasError('required')">
        Start date needs format <strong>YYYY-MM-DD</strong>
      </mat-error>
      <mat-error *ngIf="startDateFormControl.hasError('required')">
        Start date is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="End date" [formControl]="endDateFormControl" [errorStateMatcher]="matcher">
      <mat-error *ngIf="endDateFormControl.hasError('required')">
        End date is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Price" [formControl]="priceFormControl" [errorStateMatcher]="matcher">
      <mat-error *ngIf="priceFormControl.hasError('required')">
        Price is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Max places" [formControl]="maxPlacesFormControl" [errorStateMatcher]="matcher">
      <mat-error *ngIf="maxPlacesFormControl.hasError('required')">
        Maximal places count is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Description" [formControl]="descriptionFormControl" [errorStateMatcher]="matcher">
      <mat-error *ngIf="descriptionFormControl.hasError('required')">
        Description is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Picture link" [formControl]="pictureLinkFormControl" [errorStateMatcher]="matcher">
      <mat-error *ngIf="pictureLinkFormControl.hasError('required')">
        Picture link is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <input type="submit" class="forsubmit" value="Add trip">
  </form>
</div>
