<div>
  <h3>Add a new trip:</h3>
  <form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">
    <input type="text"
           class="fortextbox"
           name="name"
           placeholder="name..."
           formControlName="name">
    <br/>
    <input type="text"
           class="fortextbox"
           name="country"
           placeholder="country..."
           formControlName="country">
    <br/>
    <input type="text"
           class="fortextbox"
           name="startDate"
           placeholder="początek..."
           formControlName="startDate">
    <br/>
    <input type="text"
           class="fortextbox"
           name="endDate"
           placeholder="koniec..."
           formControlName="endDate">
    <br/>
    <input type="text"
           class="fortextbox"
           name="price"
           placeholder="price..."
           formControlName="price">
    <br/>
    <input type="text"
           class="fortextbox"
           name="maxPlaces"
           placeholder="maksymalnie placesCount..."
           formControlName="maxPlaces">
    <br/>
    <input type="text"
           class="fortextbox"
           name="description"
           placeholder="description..."
           formControlName="description">
    <br/>
    <input type="text"
           class="fortextbox"
           name="pictureLink"
           placeholder="URL zdjęcia..."
           formControlName="pictureLink">
    <br/>

    <input type="submit" class="forsubmit" value="Add trip">
  </form>
</div>
