@trip-image-width: 200px;
@trip-image-height: @trip-image-width;

.trip {
  padding: 2em;

  mat-card-content {
    height: auto;
    overflow: hidden;

    .trip-info {
      width: auto;
      overflow: hidden;
    }

    .trip-image {
      width: @trip-image-width;
      float: right;
    }
  }

  .btn-trip-details {
    margin-right: 8px;
  }

  .image-cropper {
    box-sizing: border-box;
    width: @trip-image-width;
    height: @trip-image-height;
    position: relative;
    overflow: hidden;
    border-radius: 50%;

    .trip-pic {
      display: inline;
      margin: 0 auto 0 -25%;
      height: 100%;
      width: auto;
    }
  }

  .trip-rating-result {
    margin-bottom: 25px;
  }
}
