<mat-card class="trip">
  <mat-card-title-group>
    <mat-card-title>
      {{trip.name | uppercase}}
    </mat-card-title>
    <mat-card-subtitle>{{trip.country | uppercase}}</mat-card-subtitle>
  </mat-card-title-group>

  <mat-card-content>
    <div class="trip-image image-cropper">
      <img mat-card-lg-image [src]="trip.pictureLink" class="trip-pic" alt="Photo">
    </div>
    <div class="trip-info">
      <div class="icon-containable">
        <i class="material-icons"
           #tooltip="matTooltip"
           matTooltip="{{trip.id === highest ? 'Highest price available!' : trip.id === lowest ? 'Lowest price available!' : ''}}"
           matTooltipPosition="right"
           [ngStyle]="{
                        color: trip.id === highest
                          ? '#ffc107'
                          : trip.id === lowest
                            ? '#2e7d32'
                            : 'black'
                      }">monetization_on
        </i>
        <span> {{trip.price | currency: 'EUR'}} </span>
      </div>
      <div class="icon-containable">
        <mat-icon>date_range</mat-icon>
        <span> {{trip.startDate | date }} - {{trip.endDate | date}} </span>
      </div>
      <div class="icon-containable"
           *ngIf="trip.placesCount !== 0"
           [ngStyle]="{'color': trip.placesCount < 3 ? 'red' : 'inherit'}">
        <mat-icon>people_outline</mat-icon>
        <span>Free places: {{trip.placesCount}}</span>
      </div>
      <div class="icon-containable" *ngIf="trip.placesCount == 0">
        <mat-icon>people_outline</mat-icon>
        <span>No free places!</span>
      </div>
      <div class="icon-containable">
        <mat-icon>info</mat-icon>
        <span>{{trip.description}}</span>
      </div>
      <div class="icon-containable trip-rating-result">
        <mat-icon>stars</mat-icon>
        <span *ngIf="ratesCount > 0">{{(overallRating | number: '1.1-1')}}</span>
        <span *ngIf="ratesCount == 0">Never rated</span>
        <span *ngIf="ratesCount > 0">&nbsp;({{ratesCount}})</span>
      </div>
      <div>
        <span>Rate trip: </span>
        <app-trip-rating [rating]="rating" [starCount]="starCount" [color]="starColor"
                         (ratingUpdated)="onRatingChanged($event)">
        </app-trip-rating>
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button class="mat-primary btn-trip-details" [routerLink]="['/trips', trip.id]"
            routerLinkActive="true">
      <mat-icon>details</mat-icon>
      Details
    </button>
    <button mat-raised-button (click)="addTripToShoppingCart(trip)" *ngIf="trip.placesCount > 0">
      <mat-icon>add_shopping_cart</mat-icon>
      Reserve
    </button>
    <button mat-raised-button (click)="removeTripFromShoppingCart(trip)" *ngIf="trip.placesCount != 0">
      <mat-icon>remove_shopping_cart</mat-icon>
      Discard
    </button>
    <div fxFlex fxLayoutAlign="end">
      <a mat-raised-button color="warn" class="docs-button mat-raised-button mat-button-base mat-accent"
         tabindex="0" aria-disabled="false" (click)="deleteChildTrip(trip)">
        <span class="mat-button-wrapper"><mat-icon>delete</mat-icon>Delete</span>
        <div matRipple class="mat-button-ripple mat-ripple"></div>
        <div class="mat-button-focus-overlay"></div>
      </a>
    </div>
  </mat-card-actions>

</mat-card>
