<mat-toolbar color="primary" class="mat-elevation-z6 nav-toolbar">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a mat-button
       routerLink="/"
       routerLinkActive="active"
       aria-label="DreamTour"
       class="mat-button mat-button-base"
       tabindex="0"
       aria-disabled="false">
      <span class="mat-button-wrapper">
        <i class="material-icons">wb_sunny</i>
        <span> DreamTour</span>
      </span>
      <div matRipple class="mat-button-ripple mat-ripple"></div>
      <div class="mat-button-focus-overlay"></div>
    </a>
    <a mat-button
       routerLink="/new-trip"
       routerLinkActive="active"
       aria-label="New trip"
       class="mat-button mat-button-base"
       tabindex="0"
       aria-disabled="false">
      <span class="mat-button-wrapper">
        <span> New trip</span>
      </span>
      <div matRipple class="mat-button-ripple mat-ripple"></div>
      <div class="mat-button-focus-overlay"></div>
    </a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <a mat-button
       routerLink="/cart"
       routerLinkActive="active"
       aria-label="Shopping cart"
       class="mat-button mat-button-base"
       tabindex="0"
       aria-disabled="false">
      <span class="mat-button-wrapper">
        <i class="material-icons">shopping_cart</i>
        <!--              <span> Shopping cart</span>-->
      </span>
      <div matRipple class="mat-button-ripple mat-ripple"></div>
      <div class="mat-button-focus-overlay"></div>
    </a>
    <a mat-button
       routerLink="/profile"
       routerLinkActive="active"
       aria-label="User"
       class="mat-button mat-button-base"
       tabindex="0"
       aria-disabled="false">
      <span class="mat-button-wrapper">
        <i class="material-icons">face</i>
        <!--              <span> User</span>-->
      </span>
      <div matRipple class="mat-button-ripple mat-ripple"></div>
      <div class="mat-button-focus-overlay"></div>
    </a>
  </div>
</mat-toolbar>
